### Gitignore for Atom.io configs

## Atom.io internals
.apm
.node-gyp
.npm
blob-store
compile-cache
dev
packages
storage

## File System
.DS_Store

## Projects

# I don't want to track projects because they are
# so machine specific
projects.cson
