"*":
  core:
    disabledPackages: [
      "whitespace"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "limited"
    themes: [
      "dracula-ui"
      "dracula-theme"
    ]
  editor:
    fontFamily: "\"M+ 1m\", sans-serif"
    fontSize: 18
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  emmet: {}
  "exception-reporting":
    userId: "2cb904b8-635e-67b0-c8f6-ba3a18351802"
  "git-blame":
    columnWidth: 300
    dateFormatString: "DD.MM.YY"
    showOnlyLastNames: false
  "js-hyperclick":
    extensions: [
      ".js"
      ".json"
      ".node"
      ".jsx"
    ]
  linter: {}
  "linter-eslint":
    disableFSCache: true
    eslintrcPath: "/Users/nstilwell/.eslintrc"
  "linter-jscs":
    onlyConfig: true
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
  "linter-ui-default":
    panelHeight: 457
    showPanel: true
  "one-dark-ui": {}
  "tree-view": {}
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    incrementalSearch: true
    keymapPToPutWithAutoIndent: true
    keymapUnderscoreToReplaceWithRegister: true
  welcome:
    showOnStartup: false
".ini.source":
  editor:
    preferredLineLength: 120
    tabLength: 2
".scala.source":
  editor:
    preferredLineLength: 120
