"*":
  core:
    packagesWithKeymapsDisabled: []
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "duotone-dark-syntax"
    ]
  editor:
    fontFamily: "\"M+ 1m\", sans-serif"
    fontSize: 18
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
  emmet: {}
  "exception-reporting":
    userId: "2cb904b8-635e-67b0-c8f6-ba3a18351802"
  "git-blame":
    columnWidth: 300
    dateFormatString: "DD.MM.YY"
    showOnlyLastNames: false
  linter:
    errorPanelHeight: 283
  "linter-eslint":
    disableFSCache: true
    eslintrcPath: "/Users/nstilwell/.eslintrc"
  "linter-jscs":
    onlyConfig: true
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
  "one-dark-ui": {}
  "tree-view": {}
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    incrementalSearch: true
  welcome:
    showOnStartup: false
".ini.source":
  editor:
    preferredLineLength: 120
    tabLength: 2
".scala.source":
  editor:
    preferredLineLength: 120
